html {
  scroll-behavior: smooth;
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0 auto;
  background-image: url(https://w0.peakpx.com/wallpaper/85/135/HD-wallpaper-wall-e-cute-robots-movie.jpg);
}
